#rotateElement {
  margin: auto;
  border: 1px solid #CC0000;
  width: 200px;
  height: 200px;
  background-color: #CC0000;
  color: white;
  -webkit-animation: mymove 2s 5; /* Chrome, Safari, Opera */
  animation: mymove 2s 5;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  50% {-webkit-transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes mymove {
  50% {transform: rotate(360deg);}
}