.container {
  margin: auto;
  border: 1px solid #CC0000;
  padding: 20px;
  width: 180px;
  background-color: #CC0000;
  color: white;
  text-align: center;
}

#translateElement {
  -webkit-animation: mymove 0.6s 2; /* Chrome, Safari, Opera */
  animation: mymove 0.6s 2;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  50% {-webkit-transform: translate(-30%);}
}

/* Standard syntax */
@keyframes mymove {
  50% {transform: translate(-30%);}
}